.ck-editor__editable_inline {
  min-height: 125px !important;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow: auto;
}
.full-height {
  height: 100vh;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}
